footer#colophon {
	position: relative;
	padding-top: 70px;
	padding-bottom: 45px;
	p {
		font-size: 14px;
		line-height: 26px;
	}
	h4 {
		margin-bottom: 30px;
		color: $blue;
	}
	h5 {
		margin-bottom: 20px;
	}
	.logo {
		margin-bottom: 40px;
	}
	.fones {
		margin-bottom: 20px;
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.05em;
		border-bottom: 1px solid #E0E0E0;
		.fone, .cel {
			&:before {
				content: '';
				display: inline-block;
				margin-right: 10px;
				width: 28px;
				height: 28px;
				vertical-align: middle;
				background-position: center;
				background-repeat: no-repeat;
			}
			a {
				color: #828282;
				&:hover {
					color: $blue;
					text-decoration: none;
				}
			}
		}
		.fone {
			&:before {
				background-image: url(images/icn-fone.svg);
			}
		}
		.cel {
			&:before {
				background-image: url(images/icn-cel.svg);
			}
		}
	}
	.social {
		margin-bottom: 45px;
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 28px;
		border-bottom: 1px solid #E0E0E0;
		.facebook, .instagram {
			@extend .transition;
			display: inline-block;
			color: #828282;
			&:hover {
				color: $blue;
				text-decoration: none;
			}
			&:before {
				content: '';
				display: inline-block;
				margin-right: 10px;
				width: 28px;
				height: 28px;
				vertical-align: top;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		.facebook {
			&:before {
				background-image: url(images/icn-facebook.svg);
			}
		}
		.instagram {
			margin-left: 30px;
			&:before {
				background-image: url(images/icn-instagram.svg);
			}
		}
	}
	.privacidade {
		color: #828282;
		font-size: 14px;
		font-weight: 700;
	}
	.copyrights {
		font-size: 14px;
		font-weight: 700;
	}
	.qualitare {
		display: inline;
		margin: 0 auto;
		margin-top: 30px;
		width: 98px;
		height: 22px;
		background-image: url(images/logo-qualitare.png);
		background-repeat: no-repeat;
		background-position: left center;
		opacity: .6;
		transition: all 300ms ease-out;
		&:hover {
			width: 157px;
			opacity: 1;
		}
		@include breakpoint(md) {
			margin-top: 40px;
		}
	}
}