html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	color: #7B7B7B;
	background: #F5F5F5;
}

img {
	max-width: 100%;
}

.container {
	position: relative;
	width: 100%;
	max-width: 820px;
	&.sm {
		max-width: 480px;
	}
	&.lg {
		max-width: 950px;
	}
	&.xl {
		max-width: 1060px;
	}
}

.container-fluid {
	&.relative {
		position: relative;
		.container {
			position: initial;
		}
		.left-half {
			@include breakpoint(md) {
				position: absolute;
				left: 0;
				padding-left: 0;
				right: 50%;
			}
		}
		.right-half {
			@include breakpoint(md) {
				position: absolute;
				right: 0;
				padding-right: 0;
				left: 50%;
			}
		}
	}
}

.transition {
	transition: all 300ms ease-out;
}

#interesse {
	@extend .roboto;
	padding: 35px 15px;
	margin: 0;
	position: fixed;
	right: 0;
	top: 50%;
	color: $white;
	font-size: 16px;
	writing-mode: tb;
	text-orientation: mixed;
	line-height: 21px;
	transform: rotate(180deg) translateY(50%);
	background-color: $pink;
	z-index: 999;
	&:hover {
		text-decoration: none;
	}
}

.owl-container {
	position: relative;
	z-index: 10;
	.owl-carousel {
		margin-top: 30px;
		margin-bottom: 25px;
		.owl-stage-outer {
			overflow: visible;
			.owl-stage {
				@extend .d-flex;
				@extend .align-items-end;
			}
		}
		.item {
			.img {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
	}
	.navigation-dots {
		@extend .row;
		margin-left: 0;
		button {
			@extend .col;
			height: 3px;
			border: none;
			background-color: #F2F2F2;
			@extend .transition;
			&:hover, &:active, &:focus {
				outline: none;
				border: none;
			}
			&.active {
				background-color: #D57284;
			}
		}
	}
	.navigation-arrows {
		display: inline-block;
		button {
			padding: 0;
			width: 38px;
			height: 24px;
			border: none;
			background-image: url(images/icn-seta.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-color: transparent;
			vertical-align: sub;
			&:hover, &:active, &:focus {
				outline: none;
				border: none;
			}
			&.owl-prev {
				margin-right: 30px;
				transform: rotate(180deg);
			}
			&.disabled {
				opacity: 0.5;
			}
			span {
				display: none;
			}
		}
	}
	.fullscreen {
		@extend .roboto;
		padding: 10px;
		color: #828282;
		font-size: 16px;
		text-transform: uppercase;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 4px;
		&:hover {
			text-decoration: none;
		}
	}
	.slider-counter {
		margin: 0 25px;
		display: inline-block;
		color: #828282;
		font-size: 20px;
		line-height: 26px;
	}
}

.line {
	position: absolute;
	z-index: 15;
	overflow: hidden;
	@include breakpoint(md) {
		width: auto !important;
		height: auto !important;
	}
	svg {
		transition: all 4s ease-in-out;
		stroke-dasharray: 800;
		stroke-dashoffset: -800;
	}
	&.animated {
		svg {
			stroke-dashoffset: 0 !important;
		}
	}
	&.line-01 {
		height: 100px;
		left: -60px;
		bottom: 130px;
		@include breakpoint(md) {
			left: 0;
			top: 180px;
			bottom: auto;
		}
	}
	&.line-02 {
		bottom: -50px;
		right: -450px;
		@include breakpoint(md) {
			bottom: 100px;
			right: -270px;
		}
	}
	&.line-03 {
		bottom: 0;
		right: -230px;
		@include breakpoint(md) {
			right: -80px;
		}
	}
	&.line-04 {
		right: -80px;
		bottom: 80px;
		@include breakpoint(md) {
			top: 180px;
			right: 0;
			bottom: auto;
		}
	}
	&.line-05 {
		right: -120px;
		bottom: 0px;
		@include breakpoint(md) {
			top: 350px;
			right: 0;
			bottom: auto;
		}
		svg {
			stroke-dashoffset: 800;
		}
	}
	&.line-06 {
		bottom: 30px;
		left: -380px;
	}
	&.line-07 {
		bottom: 0;
		right: 100px;
	}
	&.line-08 {
		top: 50px;
		left: 0;
	}
	&.line-09 {
		top: 0;
		right: 80px;
	}
	&.line-10 {
		bottom: -90px;
		left: 55px;
	}
	&.line-11 {
		bottom: 0;
		right: 20px;
	}
	&.line-12 {
		bottom: -40px;
		left: 0;
	}
	&.line-13 {
		bottom: 0;
		right: 0;
	}
	&.line-14 {
		right: 0;
		top: -30px;
		width: 200px;
		@include breakpoint(md) {
			right: 50px;
			top: -90px;
		}
	}
	&.line-15 {
		height: 130px;
		width: 30px;
		right: 0;
		top: -80px;
		@include breakpoint(md) {
			right: 0;
			top: -40px;
		}
		svg {
			margin-top: -100px;
			@include breakpoint(md) {
				margin-top: 0;
			}
		}
	}
	&.line-16 {
		width: 175px;
		height: 105px;
		right: 30px;
		top: 20px;
		@include breakpoint(md) {
			right: 60px;
			top: 180px;
		}
		svg {
			margin-left: -180px;
			@include breakpoint(md) {
				margin-left: 0;
			}
		}
	}
	&.line-17 {
		width: 80px;
		height: 40px;
		right: 0px;
		top: 60px;
		@include breakpoint(md) {
			right: 0px;
			top: 240px;
		}
		svg {
			margin-top: -185px;
			@include breakpoint(md) {
				margin-top: 0;
			}
		}
	}
	&.line-18 {
		left: 20px;
		bottom: 200px;
	}
	&.line-19 {
		left: -10px;
		top: 160px;
		@include breakpoint(md) {
			top: auto;
			left: 65px;
			bottom: 52px;
		}
	}
	&.line-20 {
		right: 0;
		top: -65px;
	}
	&.line-21 {
		left: 0;
		bottom: 70px;
	}
	&.line-22 {
		left: 120px;
		bottom: 0;
	}
	&.line-23 {
		left: 0;
		bottom: 70px;
	}
	&.line-24 {
		left: 60px;
		bottom: 0;
	}
	&.line-25 {
		right: 0;
		top: 40px;
	}
	&.line-26 {
		right: 0;
		bottom: 70px;
	}
	&.line-27 {
		right: 50px;
		bottom: 0;
	}
}

.page-template-default {
	main {
		display: block;
		padding-top: 200px;
		margin: 0 auto;
		width: 100%;
		max-width: 950px;
		padding-right: 15px;
		padding-left: 15px;
		color: $blue !important;
		h1 {
			color: $blue !important;
			margin-bottom: 50px;
		}
		h2,h3,h4,h5,h6 {
			color: $pink !important;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 20px;
			&+h1,&+h2,&+h3,&+h4,&+h5,&+h6 {
				margin-top: 50px;
			}
		}
	}
}