body {
	&.page-template-default {
		header#masthead {
			background-color: $blue;
		}
	}
}

header#masthead {
	padding-top: 35px;
	padding-bottom: 35px;
	position: absolute;
	background-color: transparent;
	width: 100%;
	z-index: 50;
	a {
		@extend .roboto;
		color: $white;
		font-size: 16px;
		line-height: 21px;
		&:hover {
			text-decoration: none;
		}
		&+a {
			display: inline-block;
			margin-left: 40px;
		}
	}
	.logo {
		display: block;
		margin: 0 auto;
		transform: translateX(0);
		@extend .transition;
	}
	.menu-toggle {
		display: block;
		position: fixed;
		top: 40px;
		right: 30px;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50px;
		z-index: 9999;
		@extend .transition;
		&:before {
			// content: '';
			// display: block;
			// width: 50px;
			// height: 50px;
			// border-radius: 50px;
			// background-color: $blue;
			// z-index: -1;
		}
		span {
			position: absolute;
			margin-left: -4px;
			top: 50%;
			left: 50%;
			width: 13px;
			height: 1.5px;
			background-color: $blue;
			transform: translate(-50%,-50%);
			&:before, &:after {
				position: absolute;
				content: '';
				width: 20px;
				height: 1.5px;
				background-color: $blue;
			}
			&:before {
				top: -7px;
			}
			&:after {
				top: 7px;
			}
		}
	}
	.menu-mobile {
		position: relative;
		z-index: 99999;
		transition: all 1s ease-out;
		&.open {
			position: fixed;
			padding-top: 35px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $blue;
			.logo {
				transform: translateX(-50%);
			}
			ul { 
				right: 30px;
			}
		}
		ul {
			position: fixed;
			bottom: 100px;
			right: -100%;
			padding: 0;
			z-index: 99999;
			list-style: none;
			@extend .transition;
			li {
				padding: 0;
				margin-bottom: 40px;
				a {
					font-size: 28px;
					line-height: 37px;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}