section {
	position: relative;

	&#hero {
		color: $white;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		overflow: hidden;
		h2 {
			max-width: 700px;
		}
		p {
			max-width: 560px;
			margin-bottom: 50px;
			@include breakpoint(md) {
				margin-bottom: 100px;
			}
		}
		.interesse {
			@extend .roboto;
			display: inline-block;
			margin-bottom: 100px;
			padding: 15px 35px;
			right: 0;
			top: 50%;
			color: $white;
			font-size: 16px;
			line-height: 21px;
			background-color: $pink;
			&:hover {
				text-decoration: none;
			}
		}
		.col {
			padding: 0;
		}
		.scroll {
			position: absolute;
			bottom: 40px;
			left: 50%;
			transform: translateX(-50%);
			width: 28.5px;
			height: 42px;
			background-image: url(images/icn-scroll.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			animation: scrollDown 2000ms ease infinite;
		}
	}

	&#bordas {
		.col-4 {
			height: 20px;
			@include breakpoint(md) {
				height: 100px;
			}
			&.blue {
				background-color: $blue;
			}
			&.pink {
				height: 30px;
				background-color: $pink;
				@include breakpoint(md) {
					height: 150px;
				}
			}
			&.yellow {
				background-color: $yellow;
			}
		}
	}

	&#projeto {
		padding-top: 50px;
		@include breakpoint(md) {
			padding-top: 70px;
		}
		h2 {
			max-width: 370px;
		}
		img {
			width: 100%;
			margin-top: 50px;
			margin-bottom: 40px;
			@include breakpoint(md) {
				margin-bottom: 0;
			}
		}
	}

	&#diferenciais {
		padding-top: 85px;
		margin-bottom: 100px;
		p {
			max-width: 680px;
			margin-bottom: 60px;
		}
		.col {
			padding: 0;
		}
		.item {
			@extend .roboto;
			color: #6F6F6F;
			font-size: 16px;
			line-height: 21px;
			font-weight: 700;
			margin-bottom: 40px;
			@include breakpoint(md) {
				font-size: 20px;
				line-height: 38px;
			}
			.icone {
				float: left;
				display: inline-block;
				width: 42px;
				height: 35px;
				margin-right: 15px;
				background-position: center;
				background-repeat: no-repeat;
				vertical-align: middle;
				background-size: contain;
				@include breakpoint(md) {
					width: 50px;
					height: 41px;
					background-size: auto;
				}
			}
			// &.elevadores {
			// 	&:before {
			// 		background-image: url(images/icn-elevadores.svg);
			// 	}
			// }
			// &.biometria {
			// 	&:before {
			// 		background-image: url(images/icn-biometria.svg);
			// 	}
			// }
			// &.piso {
			// 	&:before {
			// 		background-image: url(images/icn-piso.svg);
			// 	}
			// }
			// &.rooftop {
			// 	&:before {
			// 		background-position: center top;
			// 		background-image: url(images/icn-rooftop.svg);
			// 	}
			// }
			// &.reunioes {
			// 	&:before {
			// 		background-image: url(images/icn-reunioes.svg);
			// 	}
			// }
			// &.carro {
			// 	&:before {
			// 		background-image: url(images/icn-carro.svg);
			// 	}
			// }
			// &.alimentacao {
			// 	&:before {
			// 		background-image: url(images/icn-alimentacao.svg);
			// 	}
			// }
			// &.vestuario {
			// 	&:before {
			// 		background-image: url(images/icn-vestuario.svg);
			// 	}
			// }
		}
	}

	&#galeria {
		position: relative;
		padding-top: 40px;
		padding-bottom: 60px;
		overflow: hidden;
		@include breakpoint(md) {
			padding-top: 100px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 270px;
			width: 100%;
			background-color: #fff;
			z-index: 1;
			@include breakpoint(md) {
				height: 340px;
			}
		}
		p {
			@include breakpoint(md) {
				padding-left: 35px;
			}
		}
		#owlGaleria {
			height: 255px;
			margin-top: 30px;
			margin-bottom: 25px;
			z-index: 5;
			@include breakpoint(md) {
				margin-top: 60px;
				margin-bottom: 65px;
				height: 555px;
			}
			.item {
				.img {
					height: 255px;
					transition: all 800ms ease-out;
					@include breakpoint(md) {
						height: 520px;
					}
				}
			}
			.active {
				.item {
					.img {
						height: 255px;
						@include breakpoint(md) {
							height: 555px;
						}
					}
				}
			}
		}
		.navigation-dots {
			padding-left: 45px;
			button {
				&.active {
					background-color: #D57284;
				}
			}
		}
		.navigation-arrows {
			@include breakpoint(md) {
				padding-right: 45px;
			}
		}
	}

	&#ideias {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #F3F9FA;
		overflow: hidden;
		@include breakpoint(md) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		h2 {
			max-width: 650px;
			color: $pink;
		}
		p {
			max-width: 570px;
		}
		#owlIdeias {
			.owl-stage-outer {
				margin-left: -30px;
				@include breakpoint(md) {
					margin-left: -100px;
				}
			}
			.item {
				.img {
					height: 265px;
					transition: all 800ms ease-out;
				}
			}
		}
		.navigation-dots {
			button {
				&.active {
					background-color: $blue;
				}
			}
		}
	}

	&#formula {
		padding-top: 70px;
		padding-bottom: 70px;
		overflow: hidden;
		#owlFormula {
			margin-top: 50px;
			.owl-stage-outer {
				margin-left: -30px;
				@include breakpoint(md) {
					margin-left: -100px;
				}
			}
			.item {
				.img {
					height: 265px;
					transition: all 800ms ease-out;
				}
			}
		}
		.navigation-dots {
			button {
				&.active {
					background-color: $blue;
				}
			}
		}
	}

	&#localizacao {
		padding-top: 50px;
		padding-bottom: 30px;
		@include breakpoint(md) {
			padding-top: 100px;
			padding-bottom: 80px;
		}
		h6 {
			max-width: 320px;
			@include breakpoint(md) {
				max-width: none;
			}
		}
		h2 {
			max-width: 640px;
			color: $blue;
		}
		p {
			margin-bottom: 60px;
			max-width: 660px;
		}
		#gmaps {
			height: 450px;
		}
	}

	&#obra {
		padding-top: 40px;
		margin-bottom: 30px;
		border-top: 6px solid $yellow;
		border-bottom: 6px solid $yellow;
		@include breakpoint(md) {
			padding-top: 60px;
			margin-bottom: 50px;
		}
		.container {
			position: relative;
		}
		img {
			max-width: 100%;
			@include breakpoint(md) {
				position: absolute;
				top: 0;
				left: 0;
				max-width: 635px;
			}
		}
		h6 {
			margin-top: 25px;
			@include breakpoint(md) {
				padding-top: 110px;
			}
		}
		a {
			@extend .roboto;
			@extend .transition;
			margin-top: 20px;
			margin-bottom: 30px;
			display: inline-block;
			padding: 10px 15px;
			color: #4F4F4F;
			font-weight: 700;
			text-transform: uppercase;
			background-color: $yellow;
			&:hover {
				text-decoration: none;
				background-color: $pink;
			}
			@include breakpoint(md) {
				margin-bottom: 60px;
			}
		}
	}

	&#contato {
		.cta {
			padding-top: 40px;
			padding-bottom: 40px;
			color: #fff;
			h2 {
				margin-bottom: 15px;
				color: $yellow;
			}
		}
		.form {
			padding-top: 40px;
			padding-bottom: 40px;
			.container {
				max-width: 350px;
			}
			@include breakpoint(md) {
				padding-top: 140px;
				padding-bottom: 140px;
			}
			p {
				margin-bottom: 60px;
			}
			form {
				margin: 0 auto;
				p {
					margin: 0;
				}
				br {
					display: none;
				}
				input {
					display: block;
					margin-bottom: 30px;
					width: 100%;
					font-size: 16px;
					line-height: 36px;
					border: 0;
					border-bottom: 1px solid #fff;
					background-color: transparent;
					&[type="submit"] {
						@extend .roboto;
						margin-top: 40px;
						padding: 7px 0;
						color: #4F4F4F;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						background-color: #fff;
						border: none;
						border-radius: 4px;
					}
					&:focus, &:active {
						outline: none;
						border: none;
						border-bottom: 1px solid #fff;
					}
					@include placeholder {
						color: #fff;
					}
				}
			}
		}
	}

}