h1, h2, h3, h4, h5, h6 {
	@extend .roboto;
	margin: 0;
	font-weight: 700;
}

h1 {
	font-size: 42px;
	line-height: 55px;
	&.super {
		font-size: 72px;
		line-height: 95px;
		@include breakpoint(md) {
			font-size: 96px;
			line-height: 127px;
		}
	}
	&.outline {
		color: transparent;
		-webkit-text-stroke: 1px #FFFFFF;
	}
	@include breakpoint(md) {
		font-size: 72px;
		line-height: 95px;
	}
}

h2 {
	margin-bottom: 15px;
	font-size: 32px;
	line-height: 42px;
	@include breakpoint(md) {
		font-size: 42px;
		line-height: 55px;
	}
	&.blue {
		color: $blue;
	}
	&.pink {
		color: $pink;
	}
	&.yellow {
		color: $yellow;
	}
}

h3 {
	font-size: 42px;
	line-height: 55px;
}

h4 {
	font-size: 28px;
	line-height: 37px;
}

h5 {
	font-size: 24px;
	line-height: 32px;
}

h6 {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}