@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Roboto+Slab:wght@300;400;500;700&display=swap');

body,
button,
input,
select,
optgroup,
textarea {
	font-family: 'Lato', sans-serif;	
}

p {
	font-size: 18px;
	line-height: 26px;
}

.roboto {
	font-family: 'Roboto Slab', serif;
}

.lato {
	font-family: 'Lato', sans-serif;
}

@import "headings";